@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/****************************
   Override & General Layout
*****************************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  background-color: white;
}

body * {
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
}

body {
  padding: 1rem;
  margin: 0;
  background-color: rgba(158, 147, 182, 0.3);
}

h1,
h2,
p,
button {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  font-size: 1.2rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#container,
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  flex-grow: 1;
  padding-bottom: 1rem;

  border-radius: 1.5rem;
  background-image: linear-gradient(
    to bottom,
    #fdfbf1,
    #ffffff 12%,
    #ffffff 32%,
    #f2f2f2 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#wrapper {
  width: 97%;
}

.blue-box,
.white-box {
  transition: background-color, border, transform ease-out 0.3s;
  filter: drop-shadow(0px 4px rgba(0, 0, 0, 0.25));
  padding: 1rem 2rem;
}

.blue-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #366785;
  border: 5px solid #f1d88d;
  color: white;
  border-radius: 1rem;
}

.white-box {
  background-color: white;
  border: 5px solid #9e93b6;
  color: #342d43;
  padding: 1rem 5rem;
  border-radius: 1rem;
}

button.white-box:hover,
button.white-box:focus {
  cursor: pointer;
  transform: scale(1.05);
}

button.white-box:active {
  background-color: #9e93b6;
  border: 5px solid #342d43;
}

/****************************
		Heading Styles
*****************************/
#heading {
  margin-bottom: 1.5rem;
}

#heading > p {
  margin-bottom: 0.75rem;
}

/****************************
   Pokemon Container Styles
*****************************/
#pokemon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  margin: 6rem 0;
  padding: 0 1rem;
}

#pokemon-container-left,
#pokemon-container-right {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

#pokemon-container-left {
  justify-content: flex-end;
}

#vs {
  font-size: 25px;
  color: #342d43;
  filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.25));
  text-shadow: 2px 2px white;
  margin: 2rem 0;
}

/****************************
   Pokemon Image Styles
*****************************/
#pokemon-container-left > .image-wrapper {
  transform: translateX(-10%);
}

#pokemon-container-right > .image-wrapper {
  transform: translateX(10%);
}

.image-wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 400px;
  min-width: 100px;

  position: relative;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 80%;
  height: 30px;
  border: 5px solid #d7d7d7;
  border-radius: 50%;
  background-color: white;
  z-index: -100;
  visibility: visible !important;
}

.image-wrapper > .poke-img {
  max-width: 100%;
  transform: scale(2) translateY(-35%);
}

.poke-load {
  position: absolute;
  bottom: -15px;
  transform: scale(1);
  width: 50px;
  height: auto;
}

#pokemon-image-left {
  transform: scale(-2, 2) translateY(-35%);
}

#pokemon-container-left > .image-wrapper > .poke-load {
  transform: scale(-1, 1);
}

#pokemon-container-right:hover > .image-wrapper > .poke-img,
#pokemon-container-right:focus > .image-wrapper > .poke-img {
  transform: scale(2.2) translateY(-35%);
}

#pokemon-container-left:hover > .image-wrapper > .poke-img,
#pokemon-container-left:focus > .image-wrapper > .poke-img {
  transform: scale(-2.2, 2.2) translateY(-35%);
}

/****************************
   Pokemon Stat Styles
*****************************/
.pokemon-about {
  z-index: 10;
}

#pokemon-container-left > .pokemon-about {
  order: -1;
}

#pokemon-container-right:hover > .pokemon-about,
#pokemon-container-right:focus > .pokemon-about,
#pokemon-container-left:hover > .pokemon-about,
#pokemon-container-left:focus > .pokemon-about {
  animation: bounce 0.45s ease-in-out 0s infinite alternate;
}

.pokemon-name-box {
  padding-bottom: 3rem;
}

#pokemon-name-left,
#pokemon-name-right {
  text-align: center;
}

.stat-container {
  padding: 0.75rem 0;
  margin-top: -2.5rem;
}

.stat-container > h2 {
  text-align: center;
}

.stat-row {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 0 2rem;
}

.stat-row:nth-child(odd) {
  background-color: rgba(158, 147, 182, 0.3);
}

.stat-title {
  text-align: left;
}

.stat-number {
  text-align: right;
}

/****************************
   Generate Button Styles
*****************************/
#generate-btn,
#who-wins-btn {
  border-radius: 500px;
}

#winner-box {
  width: 95%;
  margin: 1rem 0 2rem;
  font-size: 1.3rem;
}

/****************************
   Responsiveness
*****************************/
@media screen and (min-width: 760px) {
  html {
    font-size: 11px;
  }

  body {
    padding: 1.5rem 1.5rem;
  }

  #pokemon-container {
    flex-direction: row;
    align-items: center;

    margin: 3rem 0;
  }

  #pokemon-container-left > .image-wrapper {
    transform: translateX(-5%);
  }

  #pokemon-container-right > .image-wrapper {
    transform: translateX(5%);
  }

  .pokemon-name-box {
    font-size: 1.2rem;
  }

  #vs {
    font-size: 30px;
    transform: translateX(10%);
  }

  #winner-box {
    width: 50%;
  }

  button[type="button"] {
    padding: 0.5rem 3rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 13px;
  }

  .pokemon-name-box {
    font-size: 1.2rem;
  }

  #pokemon-container-left > .image-wrapper {
    transform: translateX(0%);
  }

  #pokemon-container-right > .image-wrapper {
    transform: translateX(0%);
  }

  .image-wrapper {
    max-width: 300px;
  }

  .stat-row {
    grid-template-columns: 1fr 90px;
  }

  #winner-box {
    width: 40%;
  }

  button[type="button"] {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 15px;
  }

  #pokemon-container {
    margin: 2rem 0 4rem 0;
  }

  .image-wrapper {
    max-width: 400px;
  }

  .image-wrapper > .poke-img {
    max-width: 100%;
    transform: scale(2.5) translateY(-35%);
  }

  #pokemon-image-left {
    transform: scale(-2.5, 2.5) translateY(-35%);
  }

  #pokemon-container-right:hover > .image-wrapper > .poke-img,
  #pokemon-container-right:focus > .image-wrapper > .poke-img {
    transform: scale(2.7) translateY(-35%);
  }

  #pokemon-container-left:hover > .image-wrapper > .poke-img,
  #pokemon-container-left:focus > .image-wrapper > .poke-img {
    transform: scale(-2.7, 2.7) translateY(-35%);
  }

  #winner-box {
    width: 30%;
  }
}

/****************************
          Keyframes
*****************************/
@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(3%);
  }
}

@keyframes growIn {
  from {
    max-height: 0;
  }

  to {
    max-height: 1000px;
  }
}

@keyframes slideFadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes pokeBallTwitchRight {
  from {
    transform: translateY(-35%) rotate(20deg);
  }

  25% {
    transform: translateY(-35%) rotate(0deg);
  }

  75% {
    transform: translateY(-35%) rotate(0deg);
  }

  to {
    transform: translateY(-35%) rotate(20deg);
  }
}

@keyframes pokeBallTwitchLeft {
  from {
    transform: scale(-1, 1) translateY(-35%) rotate(20deg);
  }

  25% {
    transform: scale(-1, 1) translateY(-35%) rotate(0deg);
  }

  75% {
    transform: scale(-1, 1) translateY(-35%) rotate(0deg);
  }

  to {
    transform: scale(-1, 1) translateY(-35%) rotate(20deg);
  }
}

/****************************
      Animation Classes
*****************************/
.grow-in {
  animation: growIn 2s ease-out 0s 1 forwards;
}

.slide-fade-in-from-bottom {
  animation: slideFadeInFromBottom 0.75s ease-in-out 0s 1 forwards;
}

.poke-ball-twitch-right {
  animation: pokeBallTwitchRight 1s ease-out 0s infinite;
}

.poke-ball-twitch-left {
  animation: pokeBallTwitchLeft 1s ease-out 0s infinite;
}

.shrink-out-before {
  transition: max-height 1s ease-out, opacity 0.25s ease-in-out,
    border-width 0.25s ease-in-out, padding 0.25s ease-in-out,
    margin 0.5s ease-in-out;

  max-height: 1000px !important;
  opacity: 1 !important;
}

.shrink-out-after {
  transition: max-height 0.2s ease-out, opacity 0.18s ease-in-out,
    border 0.25s ease-in-out, padding 0.25s ease-in-out, margin 0.5s ease-in-out;

  pointer-events: none;
  max-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border-width: 0 !important;
  opacity: 0 !important;
}

.poke-img-hide {
  transition: transform 0.5s ease-in-out, filter 0.3s ease-in-out,
    opacity 0.1s ease-in-out 0.1s;

  transform: scale(0) !important;
  filter: brightness(0) invert(1) !important;
  opacity: 0 !important;
}

.poke-img-show {
  transition: transform 0.5s ease-in-out, filter 0.3s ease-in-out,
    opacity 0.1s ease-in-out 0s;
  opacity: 1 !important;
}

.slide-in-hide {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  opacity: 0 !important;
  transform: translateY(20%) !important;
}

.slide-in-show {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1 !important;
}
